# 数据库连接信息
# 本地数据库连接
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/igd"

# Supabase 数据库连接
DATABASE_URL="postgresql://postgres.oyldabuxfzntyzcmqwwq:[YOUR_PASSWORD]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres"

# NextAuth配置
NEXTAUTH_SECRET="your-nextauth-secret-key"
NEXTAUTH_URL="http://localhost:3000"

# 生产环境URL配置
# NEXTAUTH_URL="https://your-production-url.com"

# 第三方OAuth提供商
# GitHub OAuth
GITHUB_ID=""
GITHUB_SECRET=""

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET="" 